/**
 * Global app/site styles
 */
body {
	background-color: $color-bg;
}

/**
 * Default layout container
 */
.l-container {
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	width: 95%;
	max-width: #{$grid-max-width}px;
	margin: 0 auto;

	.lt-ie9 & {
		min-width: #{$grid-min-width}px;
	}
}

.page-header-title {
	padding: 40px;
	text-align: center;

	background: #F15A24 url('#{$img-path}/tmw_wired.svg') no-repeat center 60px;
	background-size: auto 150px;
	border-bottom: 35px solid $red-dark;
	color: #fff;
	//text-align: left;
	text-transform: uppercase;

	@include font-size(0);
	height: 280px;
}
	.page-header-subtitle {
		display: block;
		text-transform: none;
	}

.page-content {
	text-align: center;
}

	.control--username {
		margin-top: 10px;
	}

.page-footer {
	position: fixed;
	width: 100%;
	padding: 10px 10%;
	background: #CE3D11;
	bottom: 0;
	left: 0;
	height: 35px;
}
	.page-footer-links {
		> li {
			display: inline-block;

			&:first-child a {
				border-left: none;
				padding-left: 0;
			}
		}
		a {
			color: #fff;
			border-left: 1px solid #fff;
			padding: 0 10px;
		}
	}



/* ==========================================================================
   Form inputs
   ========================================================================== */

.form--login {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.control--submit {
	display: block;
	width: 400px;
	margin: 20px auto;
}




/**
 * Loader animation
 */

$size: 1em;
$color: #c22;

.loading {
	margin: 0 auto;
	position: relative;
	display: inline-block;
	padding: $size;

	vertical-align: middle;
	text-align: center;
	background-color: transparent;
	border: 5px solid transparent;
	border-top-color: $color;
	border-bottom-color: $color;
	border-radius: 50%;

	animation: spin 1s infinite linear;

	&:after {
	  content: '';
	  @extend .loading;
	  animation: spinreverse 1s infinite linear;
	}
}

.form--login,
.loading,
.cameraWindow,
.photoWindow,
.endScreen {
	transition: opacity 500ms, margin-left 0 500ms;

	&.isHidden {
		opacity: 0;
	//	margin-left: 100%;
	}
	&.isRemoved {
		display: none;
	}
}

.cameraWindow {
	display: block;
	width: 100%;
}

.photo {
	width: 100%;
}
.photoWindow {
	display: none;
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes spinreverse {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}




