$results-view-watermark-opacity: 0.4;

.resultsView {

	&.fadeOut {
		animation: fadeOut 1s ease-in;
    	animation-iteration-count: 1;
    	animation-fill-mode: forwards;
	}

	&.isHidden {
		display: none;
	}	

	&.failView {
		color: red;
	}

	&.successView {
		color: green;
	}

	& .resultsViewHeading {
		position: absolute;
		
		top: 0;
		font-size: 250px;
		line-height: 1;
		animation: pulsate 3s ease-out;
    	animation-iteration-count: 1;
    	animation-fill-mode: forwards;
	}
}

@keyframes pulsate {
    0% {transform: scale(0.3, 0.3); opacity: 0;}
    50% {opacity: 1;}
    100% {transform: scale(1, 1); opacity: $results-view-watermark-opacity;}
}

@keyframes fadeOut {
	0% {opacity: $results-view-watermark-opacity;}
    100% {opacity: 0; height: 0}
}