doctype html
html
	include ../includes/head

	block vars

	- if (subText === undefined)
		- subText = 'Oops'

	body
		include ../includes/header

		div(class="l-container")

			.page-content
				form.form--login
					label
						| Enter your Twitter Username
						input(class='form-input control--username' name='username' required)
						input.btn.control--submit(type='submit' value="Sign in")

				.loading.isHidden

				video.cameraWindow.isHidden
				canvas.photoWindow.isHidden
				
				.endScreen.isHidden
					h2.stateText Some text goes here	
					img.photo


			include ../includes/footer

	include ../includes/foot