doctype html
html
	include ../includes/head

	block vars

	- if (subText === undefined)
		- subText = 'Oops'

	body
		include ../includes/header

		div(class="l-container")

			.page-content
				form.form--login
					label
						| Enter your Twitter Username
						input(class='form-input control--username' name='username' required)
						input.btn.control--submit(type='submit' value="Sign in")

				.loading.isHidden

				video.cameraWindow.isHidden
				canvas.photoWindow.isHidden
				img.photo.isHidden

				.resultsView.failView.isHidden
					h2.resultsViewHeading
						span.letter L
						span.letter O
						span.letter S
						span.letter E
						span.letter R
						span.letter !


				.resultsView.successView.isHidden
					h2.resultsViewHeading
						span.letter W
						span.letter I
						span.letter N
						span.letter N
						span.letter E
						span.letter R
						span.letter !

			include ../includes/footer

	include ../includes/foot